<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cadastro</title>
</head>
<body>
  <form id="register-form">
    <input type="text" name="username" placeholder="Usuário">
    <input type="text" name="alias" placeholder="Nome Público">
    <input type="password" name="password" placeholder="Senha">
    <input type="password" name="password2" placeholder="Confirmação de Senha">
    <input type="submit" value="Cadastrar">
  </form>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/views/register/resgister.js"></script>
</body>
</html>