<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Zappy</title>
</head>
<body>
  <h1 id="alias"></h1>
  <div id="profile-image"></div>
  <br>
  <form id="add-contact-form">
    <input type="text" name="contact" placeholder="Adicionar contato">
    <input type="submit" value="Adicionar">
  </form>
  <br>
  <form id="edit-alias-form">
    <input type="text" name="alias" placeholder="Editar nome público">
    <input type="submit" value="Editar">
  </form>
  <br>
  <input type="file" name="profile-image">
  <br>
  <hr>
  <div id="contacts"></div>
  <hr>
  <form id="send-message-form">
    <input type="text" name="message" placeholder="Enviar mensagem">
    <input type="submit" value="Enviar">
  </form>
  <div id="messages"></div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/views/home/home.js"></script>
</body>
</html>